<% if current_user.present? %>
  Make a new order
  <%= current_user.full_name %>
  </br>
    <% @items_in_excess.each do |f| %>
      <%= f.name %>
    <% end %>
  </br>
    <% @items_not_in_excess.each do |f| %>
      <%= f.name %>
    <% end %>

  <% if @order.errors.any? %>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_for @order do |f| %>
      <div>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
      </div>
      <div>
        <%= f.label :recurring %>
        <%= f.check_box :recurring %>
      </div>
      <%= f.hidden_field(:user_id, value: current_user) %>
      <%= f.submit %>
    <% end %>
<% else %>
  <%= link_to "Sign Up", new_user_path %>
<% end %>
