<% if current_user.present? %>
  Make a new order
  <%= current_user.id %>
  </br>
  <% if @order.errors.any? %>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_for @order do |f| %>
      <div>
        <%= f.label :tomato %>
        <%= f.check_box :tomato %>
      </div>
      <div>
        <%= f.label :cucumber %>
        <%= f.check_box :cucumber %>
      </div>
      <div>
        <%= f.label :carrot %>
        <%= f.check_box :carrot %>
      </div>
      <div>
        <%= f.label :cabbage %>
        <%= f.check_box :cabbage %>
      </div>
      <div>
        <%= f.label :broccoli %>
        <%= f.check_box :broccoli %>
      </div>
      <div>
        <%= f.label :spinach %>
        <%= f.check_box :spinach %>
      </div>
      <div>
        <%= f.label :kale %>
        <%= f.check_box :kale %>
      </div>
      <div>
        <%= f.label :tomato %>
        <%= f.check_box :tomato %>
      </div>
      <div>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
      </div>
      <div>
        <%= f.label :recurring %>
        <%= f.check_box :recurring %>
      </div>
      <%= f.hidden_field(:user_id, value: current_user.id) %>
      <%= f.submit %>
    <% end %>
<% else %>
  <%= link_to "Sign Up", new_user_path %>
<% end %>
